<div>

    @  Used to pass a string value into the directive <br>
    =    Used to create a two-way binding to an object that is passed into the directive <br>
    &    Allows an external function to be passed into the directive and invoked <br>


    <a href=" http://weblogs.asp.net/dwahlin/creating-custom-angularjs-directives-part-6-using-controllers">Using Controllers</a>

</div>


<div ng-controller="CustomerController">
        Element: <isolate-scope-with-controller datasource="customers" add="addCustomer()">
        </isolate-scope-with-controller>

</div>